<script src="/ckeditor/ckeditor.js"></script>
<script src="/ckeditor/adapters/jquery.js"></script>



<h3 class="ident-top-2">Edit post</h3>

  <div class="form-inputs">

    <h2>
      <%= f.input :title, label: 'title :', :as => :text, input_html: {rows: 2, style: 'width: 100%'} %>
      <%= f.input :author, label: 'author :', :as => :text, input_html: {rows: 2, style: 'width: 100%'} %>
      <%= f.input :brief_text, label: 'brief_text :', input_html: {class: 'ckeditor'} %>
      <%= f.input :text, label: 'text :', input_html: {class: 'ckeditor'} %>
      <%= f.input :visible, label: 'visible?' %>
      <%= f.input :category, label: 'category', :as => :radio_buttons, collection: [[:post, :p], [:lab, :l]]  %>

    </h2>

  </div>


<script>
    $(document).ready(function () {
        $('#post_text').ckeditor();
    });
</script>






