<% if can? :creat, @post %>
    <hr>
    <%= link_to 'New post', new_post_path, class: 'button1' %>
<% end %>


<% @labs.each do |post| %>

    <article class="post-holder">
      <div>

        <div class="date"><span class="day"> <%= Russian.strftime(post.publication_time, '%d') %></span>
          <span class="month"> <%= Russian.strftime(post.publication_time, '%b') %></span></div>

        <h2 class="entry-title fleft"><%= link_to(post.title, post_path(post)) %></h2>

        <div class="post-meta">
          <div class="fleft"><i class="icon-user"></i> <a href="#">автор: <%= post.author %> </a> /
            <a><%= Russian.strftime(post.publication_time, '%A') %>,
              <%= Russian.strftime(post.publication_time, '%d %B %Y') %> </a></div>
        </div>
        <!--.post-meta-->
      </div>
      <figure class="ident-bot-2"><a class="fixed-img" href="#"><img src="images/blog/post1.jpg"></a></figure>
      <p class="ident-bot-2"><%= sanitize post.brief_text %></p>
      <%= link_to('Читать далее', post_path(post), class: 'button1') %>

      <% if can? :edit, post %>
          <%= link_to('Edit', edit_post_path(post), class: 'button1') %>
      <% end %>
      <% if can? :delete, post %>
          <%= link_to('Del', post_path(post), method: :delete, class: 'button1') %>
      <% end %>
    </article>
    <div class="clear"></div>

<% end %>

<hr>


<% if user_signed_in? %>

    <h2>Черновики</h2>


    <% @labs_draft.each do |post| %>

        <article class="post-holder">
          <div>

            <div class="date"><span class="day"> <%= Russian.strftime(post.created_at, '%d') %></span>
              <span class="month"> <%= Russian.strftime(post.created_at, '%b') %></span></div>

            <h2 class="entry-title fleft"><%= link_to(post.title, post_path(post)) %></h2>

            <div class="post-meta">
              <div class="fleft"><i class="icon-user"></i> <a href="#">автор: <%= post.author %> </a> /
                <a><%= Russian.strftime(post.created_at, '%A') %>,
                  <%= Russian.strftime(post.created_at, '%d %B %Y') %> </a></div>
            </div>
            <!--.post-meta-->
          </div>
          <figure class="ident-bot-2"><a class="fixed-img" href="#"><img src="images/blog/post1.jpg"></a></figure>
          <p class="ident-bot-2"><%= sanitize post.brief_text %></p>
          <%= link_to('Читать далее', post_path(post), class: 'button1') %>

          <% if can? :edit, post %>
              <%= link_to('Edit', edit_post_path(post), class: 'button1') %>
          <% end %>
          <% if can? :delete, post %>
              <%= link_to('Del', post_path(post), method: :delete, class: 'button1') %>
          <% end %>
        </article>
        <div class="clear"></div>

    <% end %>
<% end %>


<% if can? :creat, @post %>
    <hr>
    <%= link_to 'New post', new_post_path, class: 'button1' %>
<% end %>


